rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /stories/{storyId} {
      allow read: if true;

      match /chapters/{chapterId} {
        allow read: if true;

        match /messages/{messageId} {
          allow read: if true;
        }
      }

      match /comments/{commentId} {
        allow read: if true;
      }
    }
  }
}